body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .btn-login {
      margin-right: 14px;
    }
    .navbar {
      padding: 14px 0;
      // background-color: rgba(0, 0, 0, 0) !important;
      // position: fixed;
      // width: 100%;
      .nav-link {
        &.active {
          color: #6c5ce7;
        }
      }
    }
  }
  .homepage {
    &-container {
      position: relative;
    }
    &-content {
      width: 544px;
      padding: 100px 0px 0px 200px;
    }
    &-title {
      line-height: 1.2;
      letter-spacing: normal;
      margin-bottom: 20px;
      max-width: none;
      font-size: 49px !important;
    }
    &-subtitle {
      color: rgb(38, 38, 39);
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0px;
      font-size: 24px;
      line-height: 1.3;
      margin-bottom: 40px;
    }
  }
}

video {
  position: fixed;
  z-index: -1;
  bottom: -50px;
  width: 100vw;
}
